body {
  margin: 0;
  padding: 0;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
}

li{
  list-style-type: none;
}

ul.subheader {
  font-size: 30px;
  font-weight: 300;
  text-align: left;
  list-style: none;
  padding: 4px 0 4px 15px;
  min-width: 800px;
}

button.up {
  background-color: green;
  border: 2px;
  font-size: 14px;
  margin-top: 5px;
}

button.down {
  background-color: red;
  border: 2px;
  font-size: 14px;
  margin-top: 5px;
}

.container {
  margin: 0 auto;
  max-width: 1070px;
  padding: 20px;
  min-width: 1070px;
}

.header {
  font-size: 50px;
  font-weight: 300;
  margin: 10px 0;
}

.subheader li {
  display: inline;
  margin-top: 1px;
  line-height: 15px;
  margin: 0 10px 10px;
}

.selected {
  line-height: 15px;
  color: 'green';
  font-weight: bold;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
}

.icon-btn {
  background: none;
  border: none;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.post-list {
  background: none;
  font-size: 18px;
  border: none;
}

.calendar {
  margin-top: 0;
  display: flex;
}

.icon-grid ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.icon-grid {
  flex: 1;
}

.meal-types {
  display: flex;
  justify-content: space-around;
  margin: 0;
  margin-left: 152px;
}

.meal {
  font-size: 23px;
  display: flex;
  flex-direction: column;
  height: 150px;
  width: 100px;
  justify-content: center;
}

.overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgba(255, 255, 255, 0.75);
}

ul.comment-list:nth-child(even) li {
  background-color: LightGrey;
};


ul.comment-list{
  padding-left: 50px;
};


ul.comment-list li{
  align-items: center;
  padding: 10px;
};
